@charset "utf-8";
@import "catpow.scss";

$selectors:();

$background_color:#ffffff;
$main_color:#00377e;
$accent_color:#36c;
$text_color:#646464;

$colors:(
	m:$main_color, 
	1:change-color($main_color,$hue:0deg),
	2:change-color($main_color,$hue:30deg),
	3:change-color($main_color,$hue:60deg),
	4:change-color($main_color,$hue:90deg),
	5:change-color($main_color,$hue:120deg),
	6:change-color($main_color,$hue:150deg),
	7:change-color($main_color,$hue:180deg),
	8:change-color($main_color,$hue:210deg),
	9:change-color($main_color,$hue:240deg),
	10:change-color($main_color,$hue:270deg),
	11:change-color($main_color,$hue:300deg),
	12:change-color($main_color,$hue:330deg),
	a:$accent_color,
	b:$background_color,
	s:darken($background_color,5%),
	t:$text_color,
	i:#fff,
	sh:rgba(#000,60% - lightness($background_color)/2),
	lt:rgba(#fff,20% + lightness($background_color)/2),
	shd:rgba(#000,30%),
	n:transparent
);

$images:(
	logo:'images/logo.png',
	bg:'images/bg.png',
);

$fonts:(
	g:$gothic,
	m:$mincho,
	e:'times'
);

$breakpoints:(
	1:'min-width:640px',
	2:'min-width:960px',
	3:'min-width:1600px',
	-1:'max-width:639px',
	-2:'max-width:959px',
	-3:'max-width:1599px',
);