@charset "UTF-8";
.cmf-form {
  position: relative;
  padding: 1.25rem;
}
.cmf-form.is-locked::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.cmf-link {
  text-decoration-line: underline;
}
.cmf-link:hover {
  color: #635F53;
}
.cmf-contents {
  max-width: 60rem;
  width: auto;
  margin: 3.125rem auto;
}
.cmf-heading {
  display: block;
  position: relative;
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  text-align: center;
  font-size: 2rem;
  word-break: keep-all;
}
.cmf-heading::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
  width: 6.25rem;
  height: 0.0625rem;
  background-color: #646464;
}
.cmf-text {
  margin: 2.5rem 1.25rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 2em;
}
.cmf-text.center {
  text-align: center;
}
.cmf-input {
  position: relative;
}
.cmf-input input:not([type="radio"], [type="checkbox"]) {
  padding: 0.625rem;
  box-sizing: content-box;
  max-width: calc(100% - 3rem);
  width: auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: #b2b2b2;
  font-size: 1rem;
}
.cmf-input-textarea {
  display: block;
  width: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.cmf-input-select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: max-content;
  padding: 0.625rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: #b2b2b2;
  text-align: center;
  font-size: 1rem;
}
.cmf-input-checkbox__item, .cmf-input-radio__item {
  display: inline-block;
  position: relative;
  padding: 0.625rem;
  padding-left: 1.875rem;
  margin: 0.3125rem;
}
.cmf-input-checkbox__item-input, .cmf-input-radio__item-input {
  position: absolute;
  top: 0.9375rem;
  left: 0.3125rem;
}
.cmf-input__alert {
  display: block;
  position: absolute;
  width: max-content;
  top: -2.5em;
  left: 0rem;
  right: 0rem;
  padding: 0.5em;
  margin: auto;
  background-color: #635F53;
  border-radius: 0.1875rem;
  font-size: 1rem;
  line-height: 1em;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
  pointer-events: none;
}
.cmf-input__alert::after {
  content: "";
  display: block;
  width: 0rem;
  position: absolute;
  top: 100%;
  left: 0rem;
  right: 0rem;
  margin: auto;
  border-style: solid;
  border-width: 0.5rem;
  border-color: transparent;
  border-top-color: #635F53;
}
.cmf-input.is-inline {
  display: inline-block;
  max-width: 100%;
  width: auto;
}
.cmf-input.is-block {
  display: block;
}
.cmf-input:not(.is-error) .cmf-input__alert {
  opacity: 0;
  transform: -webkit- translateY(0.5em);
  transform: translateY(0.5em);
}
.cmf-ui-zipcode__sec0 {
  display: inline-block;
  width: 3ch;
}
.cmf-ui-zipcode__sec1 {
  display: inline-block;
  width: 4ch;
}
.cmf-ui-zipcode__sep {
  display: inline-block;
  margin: auto 0.5em;
}
.cmf-label {
  cursor: pointer;
}
.cmf-table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}
.cmf-table > tbody > tr:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: #b2b2b2;
}
.cmf-table > tbody > tr.required > th::after, .cmf-table > tbody > tr.optional > th::after {
  display: block;
  position: absolute;
  padding: 0.25em 0.5em;
  height: min-content;
  top: 0rem;
  bottom: 0rem;
  right: 0.75rem;
  margin: auto;
  font-size: 0.75rem;
  color: #ffffff;
}
.cmf-table > tbody > tr.required > th::after {
  content: "必須";
  background-color: #635F53;
}
.cmf-table > tbody > tr.optional > th::after {
  content: "任意";
  background-color: rgba(100, 100, 100, 0.5);
}
.cmf-table > tbody > tr > th, .cmf-table > tbody > tr > td {
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.5em;
  font-weight: 400;
  vertical-align: middle;
  border-style: none;
}
.cmf-table > tbody > tr > th {
  position: relative;
  width: 12.5rem;
  padding-right: 5rem;
  text-align: left;
  word-break: keep-all;
  background-color: rgba(100, 100, 100, 0.1);
}
.cmf-table > tbody > tr > td {
  position: relative;
}
@media (max-width:960px) {
  .cmf-table {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
  }
  .cmf-table > tbody {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
  }
  .cmf-table > tbody > tr {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
  }
  .cmf-table > tbody > tr > th, .cmf-table > tbody > tr > td {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
  }
  .cmf-table > tbody > tr > th {
    padding-right: 5rem;
  }
}
.cmf-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 3.125rem auto;
  padding: 0.625rem;
  list-style: none;
}
.cmf-buttons__item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 21.875rem;
  padding: 0.625rem;
}
.cmf-button {
  display: block;
  padding: 1rem 0.5rem;
  max-width: 21.875rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  color: #635F53;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cmf-button.primary {
  background-color: #635F53;
  color: #ffffff;
}
.cmf-button.secondary {
  border-style: solid;
  border-width: 0.0625rem;
}
.cmf-button.disabled {
  opacity: 0.5;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  cursor: no-drop;
}
.cmf-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.625rem;
}
.cmf-flex__item {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25rem;
  padding: 0.625rem;
}
.cmf-annotation {
  display: block;
  position: relative;
  padding: 0.3125rem;
  padding-left: 2em;
  font-size: 0.9375rem;
}
.cmf-annotation::before {
  content: "※";
  display: block;
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
}
.cmf-caption {
  display: block;
  padding: 0.3125rem;
  font-size: 0.875rem;
}
.cmf-agreement {
  display: block;
  padding: 0.5rem;
  margin: 0.625rem auto;
  width: fit-content;
  font-size: 0.875rem;
  word-break: keep-all;
  cursor: pointer;
}
/*# sourceMappingURL=./theme-standard.css.map */